.hero__wrapper {
    background-color: var(--fourth-brand-color);
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero {
    text-align: center;
    padding: 15rem 0;
    position: relative;
}
.hero .title {
    margin-bottom: 1.5rem;
}
.hero .text {
    margin-bottom: 3rem;
}
.hero__block {
    width: fit-content;
    margin: 0 auto;
    padding: 5rem 1rem;
    background-color: var(--main-bg-color);
    border-radius: 1rem;
}




.contacts__wrapper {
    background-color: var(--fourth-brand-color);
    background-image: linear-gradient(to right bottom, #080705, #0e0d0a, #12110e, #161512, #191815);
}
.contacts {
    padding: 15rem 0;
    text-align: center;
}
.contacts__svg {
    display: none;
}
.contacts .sub-title {
    margin-bottom: 6rem;
    color: var(--sub-text-color);
}
.contacts .text {
    color: var(--sub-text-color);
}
.contacts__item:not(:last-child) {
    margin-bottom: 2rem;
}



.policy__wrapper .container {
    padding: 0;
}
.policy {
    padding: 0 0 15rem;
    text-align: center;
}

.policy__block {
    padding: 0 2rem;
}
.policy .sub-title {
    margin-bottom: 6rem;
}
.policy__box--mb {
    margin-bottom: 5rem;
}
.policy__title {
    font-family: var(--title-font);
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}
.policy__box {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}
.policy__box .text {
    margin-bottom: 2rem;
}
.policy__box .btn {
    background-color: transparent;
    color: var(--third-brand-color);
}


@media screen and (min-width: 768px)  {
    .hero__block {
        padding: 5rem;
    }
}
@media screen and (min-width: 1440px)  {
    .hero__block {
        margin-right: 0;
    }
    .hero {
        padding: 30rem 0 15rem;
    }

    .contacts {
        padding: 1rem 0;
    }
    .contacts .sub-title {
        display: none;
    }
    .contacts__flex {
        display: flex;
        align-items: center;
    }
    .contacts__svg {
        display: block;
        width: 90rem;
        height: 90rem;
    }
    .contacts__right {
        width: 45rem;
        height: 45rem;
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: .1rem solid var(--third-brand-color);
        border-radius: 50%;
        margin-left: -25rem;
        background-color: var(--fourth-brand-color);
    }


    .policy__wrapper {
        background-image: linear-gradient(to left bottom, #080705, #0e0d0a, #12110e, #161512, #191815);
    }
    .policy {
        padding: 15rem;
    }
    .policy__block {
        display: flex;
        justify-content: space-between;
    }
    .policy .sub-title {
        display: none;
    }
    .policy__title, 
    .policy__box .text {
        color: var(--sub-text-color);
    }
    .policy__box .btn:hover {
        background-color: var(--third-brand-color);
        color: var(--sub-text-color);
    }
    .policy__box--mb {
        margin-bottom: 0;
    }
}
